*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.hero{
  height: 100vh;
  background-color: #2D5A68;
}

.btn{
  background-color: #34AD9E;
  font-size: 1.2rem;
  
}

.hero-content{
  padding: 0px  10rem;
  font-size: 1.4rem;
  
}