*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #efeaea
}



.hero{
  height: 100vh;
  background-color: #2D5A68;
}

.btn{
  background-color: #34AD9E;
  font-size: 1.2rem;

}

.hero-content{
  padding: 0px  10rem;
  font-size: 1.4rem;
}


/*!JESRYL*/
/*! EduSystem Styles */
.heroContainer{
  height: 100vh;
  background-color: #EFEAEA;
}
.sectionContainer {
  display: flex;
  text-align: center;
  margin-top: 150px;
}
.sectionOne {
  width: 60%;
}


.boxColor{
  background-color: #91cbc4 ;
  height: 110%;
  width: 62%;
  display: inline-block;
  z-index: -1;
}
/* section 1 image overlap to span */
.overlapping-image {
  position: absolute;
  top: -10%;
  left: 5%;
}


.sectionOne-p, .sectionOne-h {
  text-align: center;
  align-items: center;
  align-self: center;
}
.sectionTwo {
  width: 40%;
}

/*! Course Styles */
.course-header {
  margin-top: 200px;
}
.enroll-btn {
  width: 120px;
  font-weight: 500;
}
/* .image1 {
  height: 400px;
  width: 600px;
} */



/*! Event Styles */
.events {
  margin-top: 200px;
}



/*! Footer Styles */
.footer {
  margin-top: 150px;
}
.kampoCode {
  color: #34AD9E;
  font-weight: bold;
}


/* Start of courses section */
.cardOne{
  height: 90%;

}